<h1>@Html.TitleForPage(T("Create a New Account").ToString())</h1>
<p>@T("Use the form below to create a new account.")</p>
<p>@T("Passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"])</p>
@Html.ValidationSummary(T("Account creation was unsuccessful. Please correct the errors and try again.").ToString())
@using (Html.BeginFormAntiForgeryPost())
{ 
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div class="clearfix">
            <label for="username">@T("Username:")</label>
            <div class="input">
                @Html.TextBox("username")
                <span class="help-inline">@Html.ValidationMessage("username")</span>
            </div>
        </div>
        <div class="clearfix">
            <label for="email">@T("Email:")</label>
            <div class="input">
                @Html.TextBox("email")
                <span class="help-inline">@Html.ValidationMessage("email")</span>
            </div>
        </div>
        <div class="clearfix">
            <label for="password">@T("Password:")</label>
            <div class="input">
                @Html.Password("password")
                <span class="help-inline">@Html.ValidationMessage("password")</span>
            </div>
        </div>
        <div class="clearfix">
            <label for="confirmPassword">@T("Confirm password:")</label>
            <div class="input">
                @Html.Password("confirmPassword")
                <span class="help-inline">@Html.ValidationMessage("confirmPassword")</span>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary btn-large" type="submit">@T("Register")</button>
        </div>
    </fieldset>
}
