<h1>@Html.TitleForPage(T("Lost Password").ToString())</h1>
<p>@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
@using (Html.BeginFormAntiForgeryPost())
{ 
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div class="clearfix">
            <label for="username">@T("Username or E-mail:")</label>
            <div class="input">
                @Html.TextBox("username")
                <span class="help-inline">@Html.ValidationMessage("username")</span>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary btn-large" type="submit">@T("Send Request")</button>
        </div>
    </fieldset>
}
